.statusIndicator {
    display: flex;
    align-items: center;
    border: 2px solid var(--page-background);
    border-radius: var(--radius-full);
    margin-left: var(--static-space-2);
    justify-content: center;
    cursor: pointer;

    &.s {
        width: var(--static-space-4);
        height: var(--static-space-4);
    }

    &.m {
        width: var(--static-space-8);
        height: var(--static-space-8);
    }

    &.l {
        width: var(--static-space-24);
        height: var(--static-space-24);
    }

    &.green { background-color: #34d399; }
    &.yellow { background-color: #fbbf24; }
    &.red { background-color: #f87171; }
    &.gray { background-color: #9ca3af; }

    .indicatorCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
    }

    .discordIcon {
        display: block;
    }

    .popUp {
        position: absolute;
        top: -25px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 10;
        transform: translateX(-50%);
        left: 50%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
    }

    &:hover .popUp {
        visibility: visible;
        opacity: 1;
    }

    .custom-tooltip {
        visibility: visible;
        opacity: 1;
    }
}