@media (--s) {
    .mobile {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.footer {
  width: 100%;
  padding: 1rem 0;
}

.footerGrid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footerLeft,
.footerCenter,
.footerRight {
  text-align: center;
  padding-top: 20px;
  flex-grow: 1;
  min-width: 200px;
  max-width: 33%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footerLeft {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  text-align: left;
}

.footerRight {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

/* Responsivitas */
@media (max-width: 768px) {
  .footerGrid {
    flex-direction: column; /* Posisikan kolom secara vertikal pada layar kecil */
    text-align: center;
  }

  .footerLeft, .footerCenter, .footerRight {
    justify-content: center; /* Pusatkan konten dalam kolom */
    max-width: 100%; /* Membuat kolom memenuhi lebar pada layar kecil */
  }
}

.link {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--primary-color-hover);
    }
}